/**
 * @file
 * File СSS fof description id, classes, and others.
 */

body {
padding: 0;
margin: 0;
background: url(img/fon.jpg) no-repeat center top;
background-attachment: fixed;
background-size: 100%;
} 
a {
	color: #ff0000;
}
span {
	color: #fff000;
	font-size: 20px;
}
html {
	padding: 0;
  	margin: 0;
}
#content {
	background-color: #f8f7e5;
	border-width:10px;
	border-style:groove;
	border-color:gold;
	margin: 20px auto 5px;
	width: 500px;
}
.comment {
	border-width: 10px;
	border-style: double;
	border-color: gold;
	margin: 5px auto;
	width: 400px;
}
.mark1{
	border-bottom: 10px groove gold;
}
.mark {
	display: inline
}
.login {
	border-color:gold;
	border-style:inset;
	border-width:5px;
	float: left; 
	margin: auto;
	width: 200px;
}	
.news {
	border-bottom: 10px groove gold;
	margin: 35px 0;
	width: 100%;
}
.news .author {
	font-weight: bold;
	padding: 0 5px;
	}
.news .date {
	font-style: italic;
	padding: 0 5px;
}
.error {
    color: red; 
}
.text1 {
	text-align: left;
}
.text2 {
	text-align: right;
}
input {
	display: block;
}
textarea {
	border: 1px solid blue;
	margin: 0;
	padding: 0;
	width: 100%;
}
button {
	border-size: 2px;
	border-radius: 4px; 
}
